<app-login-header></app-login-header>

<section class="wrapper">
    <div class="content">
        <header>
            <h1>Welcome back</h1>
        </header>
        <section>
            <form action="" class="login-form">
                <div class="input-group">
                    <label for="username">Username or Email</label>
                    <input type="text" placeholder="Username or Email" id="username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password">
                </div>
                <div class="input-group" type="button" routerLink="/userprofile"><button>Login</button></div>
            </form>
        </section>
        <footer>
            <a href="#" title="Forgot Password">Forgot Password</a>
        </footer>
    </div>
</section>