<!-- <app-header></app-header>
<app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="gen-paragraphs">
                <h2>Daily Information</h2>
                <div class="section">
                    <div class="leftside">
                        <h3>Using Easy Clocking</h3>
                        <h4>Username and password setup</h4>
                        <p>You should have received a user name and password from HR shortly after starting on your first day, if you did not tell your supervisor. To clock in you go to the website “easyclocking.net”. When you first go there you will need
                            to have the company ID number. Enter this number followed by your user name and password to log in to your main clock in screen. </p>
                    </div>
                    <div class="center-spacer"></div>
                    <div class="rightside">
                        <img class="easyclocking" src="./assets/imgs/easyclocking.JPG" alt="easyclocking">
                    </div>
                </div>

                <div class="leftside head-space">
                    <h4>Clocking In and Out</h4>
                    <p>Once logged in using the above steps, you will see the main screen/ dash board of Easy Clocking. On the left side of the screen there is a large button that will show “Clock In” in green, or “Clock Out” in red for which ever option
                        you have available. Above the Clocking button, there is a clock that shows the current time and date, and on the right side of the window you will see your different clocking events as you go throughout the day. </p>

                </div>

                <img class="head-space" src="./assets/imgs/easyclockingMain.png" alt="easyclockingMainScreen">

                <div class="leftside head-space">
                    <h4>My Benefit Time Tab</h4>
                    <p>Requesting time off is done in the “My Benefit Time” tab. You will click on the small calendar next to the next to the hours listed that you have available (Displayed under the black square) in the Vacation column (The Yellow Square).
                        After you click on the calendar, just fill in the dates that you want off (When requesting more than one date, you have make that request from a computer not a tablet) and submit the request for approval. This request will then
                        be displayed in the main column one the right side of the screen.</p>
                </div>
                <img class="head-space" src="./assets/imgs/easyclockingTimeOff.png" alt="easyclockingMainScreen">
                <div class="head-space">
                    <h4>Email Setup</h4>
                    <p>Company emails are provided on an as needed basis at this point and the Shop Assistant Position and Machinist 1 position do not require a company email. All company communications will come to you through the email that you provided
                        to HR to receive your paystubs. </p>
                </div>

            </div>
        </div>
    </div>
    <app-scroll-topbtn></app-scroll-topbtn>
</div>