<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="gen-paragraphs">
        <div class="flex-container">
            <h2>Parts Washing</h2>
        </div>
        <h4>General Cleaning Information</h4>
        <ul>
            <li>Always wear protective gloves while handling cleaned parts</li>
            <li>Check parts for burrs, scratches or any other damage</li>
            <ul>
                <li>If a defect is found, notify Supervisor of problem</li>
            </ul>
        </ul>

        <h3>Methods Used For Cleaning Parts</h3>

        <h4>Large Parts Washer</h4>
        <p>The large parts washer is used for cleaning large, heavy parts. This includes castings, billet cylinders, heads etc.</p>

        <h5>Opertation of Large Parts Washer</h5>

        <ul>
            <li>Individual Large Parts</li>
            <li>Load part or parts into the washer</li>
            <li>Set the parts on clean wood or plastic apparatus (free from imbedded chips) to ensure that machined surfaces will not be damaged.</li>
            <li>Parts should be washed for approximately 1 - 5 minutes or long enough to remove metalworking fluids, grease, dirt, etc. </li>
            <li>Rinse with water and dry with compressed air immediately</li>
            <li>It is especially important to lightly and quickly rinse and then thoroughly dry cast iron parts then immediately saturate them with Stoddard solvent in order to prevent rust</li>
            <li>For any part with a honed bore, it is very important to remove any grit or abrasive left from honing process by wetting a clean paper towel with Stoddard solvent and thoroughly wiping the bore until no trace of residue appears on towel</li>
            <li>Place clean, dry parts on a cart lined with new cardboard and or new paper towels</li>
        </ul>


        <h4>Ultrasonic</h4>
        <p> Use for smaller and or delicate parts (valves, oil scrapers, etc.)</p>
        <ul>
            <li>Fill ultrasonic cleaner with a solution of 10% to 20% Simple Green and 80% to 90% hot water</li>
            <li>Turn ultrasonic on and load it with as many parts that will fit without damaging the surfaces. Cleaning time is approximately 5 minutes.</li>
            <li>Rinse the parts in a clean bucket filled with hot water</li>
            <li>Use compressed air to dry parts after cleaning process is complete</li>
        </ul>
    </div>
    <app-scroll-topbtn></app-scroll-topbtn>
</div>