<app-navbar></app-navbar>
<div class="container">
    <div class="gen-paragraphs">
        <div class="flex-container">
            <h2>Feeds and Speeds for Common Materials at Hycomp</h2>
        </div>
        <div class="flex-container">
            <table>
                <tr>
                    <th>Material type</th>
                    <th>Material Size</th>
                    <th>Blade Type</th>
                    <th>Blade Speed</th>
                    <th>Feed Force</th>
                    <th>Feed Pressure</th>
                    <th>Coolant</th>
                    <th>Material Shape</th>
                </tr>
                <tr>
                    <td>80-55-06 Durabar</td>
                    <td>6" Diameter</td>
                    <td>Course 3-4 TPI</td>
                    <td>120 F/M</td>
                    <td>40%</td>
                    <td>2</td>
                    <td>Yes</td>
                    <td>Round</td>
                </tr>

            </table>
        </div>

        <div class="flex-container">
            <h2>Saw Operation and Care Information</h2>
        </div>
        <div class="flex-container">
            <div class="saw-pdf">
                <embed src="gs://hyshop-75058.appspot.com/machineShop/saw/393298_S20A_2008.pdf" type="application/pdf" width="100%"
                    height="500px" />
            </div>
        </div>
        <!-- <div class="flex-container">
            <div class="saw-pdf">
                <ngx-extended-pdf-viewer [src]="'./assets/pdfDocs/LENOX_20Guide_20to_20Band_20Sawing.pdf'"
                    [useBrowserLocale]="true" [height]="'90vh'" [textLayer]="true" [useBrowserLocale]="true">
                </ngx-extended-pdf-viewer>
            </div>
        </div> -->
        <!-- <div class="flex-container">
            <div class="saw-pdf">
                <embed src="./assets/pdfDocs/393298_S20A_2008.pdf" type="application/pdf" width="100%" height="500px" />
            </div>
        </div> -->





    </div>
    <app-scroll-topbtn></app-scroll-topbtn>
</div>