.container {
    top: 10%;
    left: 15%;
    width: auto;
    /* background-color: blueviolet; */
}

h2,
h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    position: relative;
    width: 100%;
    margin: 2%;
    padding: 2%;
    color: black;
}

.gen-paragraphs {
    margin: 2%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.chart {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 500px;
    /* background-color: blue; */
}


.button {
    padding: 25px;
    width: 200px;
    border: 15px solid;
}