<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>General Machining</h2>
            <div class="gen-paragraphs">
                <input type="button" class="button" (click)="gmDailyInfo()" value="Daily Info">
                <input type="button" class="button" (click)="gmGeneralInfo()" value="Reference Info">
                <input type="button" class="button" (click)="gmDailyMaintance()" value="Daily Maintance">
                <input type="button" class="button" (click)="gmMeasuringTools()" value="Measuring">
                <input type="button" class="button" (click)="gmGDnT()" value="GD&T">
                <input type="button" class="button" (click)="gmDeBurring()" value="De-Burring">
                <input type="button" class="button" (click)="gmPartsWashing()" value="Parts Washing">
                <input type="button" class="button" (click)="gmSaw()" value="Saw">
                <input type="button" class="button" (click)="gmLWM12()" value="Leadwell Mill 1 & 2">
                <input type="button" class="button" (click)="gmLWM3()" value="Leadwell Mill 3">
                <input type="button" class="button" (click)="gmCinci()" value="Cincinatti Mill">
                <input type="button" class="button" (click)="gmDoosan()" value="Doosan">
                <input type="button" class="button" (click)="gmMori()" value="Mori Seiki">
                <input type="button" class="button" (click)="gmLWL()" value="Leadwell Lathe">
                <input type="button" class="button" (click)="gmCylinderKing()" value="Cylinder King">
                <input type="button" class="button" (click)="gmRodHone()" value="Rod Hone">
                <input type="button" class="button" (click)="gmRodHone()" value="Renishaw">
                <input type="button" class="button" (click)="gmDailyInfo()" value="Opti Pro SFES">
            </div>
        </div>
    </div>
    <app-scroll-topbtn></app-scroll-topbtn>
</div>