.container {
    top: 10%;
    left: 15%;
    width: auto;
    /* background-color: blueviolet; */
}

.gen-paragraphs {
    margin: 2%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

table,
th,
td {
    padding: 1rem;
    border: 1px solid black;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}