<!-- <app-header></app-header>
<app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="gen-paragraphs">
                <h2>Daily Info</h2>
            </div>
            <div class="gen-paragraphs">
                <h3>Machine Maintenance</h3>
                <h4>Leadwell Mill 1 and 2</h4>
                <table>
                    <tr>
                        <th>Maintenance Point Image</th>
                        <th>Maintenance Point Description</th>
                        <th>Maintenance Procedure/ Oil Type</th>
                        <th>Frequency</th>
                    </tr>
                    <tr>
                        <td><img src="./assets/imgs/2AN10C 151150.png"></td>
                        <td>Right back corner of machine by chip bin.</td>
                        <td>Vactra #2 or Magna SW 68 Way Oil</td>
                        <td>Check Daily</td>
                    </tr>
                    <tr>
                        <td><img></td>
                        <td>Check at back right corner of the machine.</td>
                        <td>Castrol - Hysol MB 50 Coolant, use refractometer to make sure concentration of coolant is between 6% and 12%. Do NOT file while machine is running. Use caution when filling tank with the garden hose, this is a good way to spend
                            the day mopping the whole shop floor!
                        </td>
                        <td>Check weekly in Winter, and daily during the summer.</td>
                    </tr>
                    <tr>
                        <td><img></td>
                        <td>Air Filters are located on the back of the machine by the power switch and on the spindle cooler. </td>
                        <td>To clean these screens use dawn dish soap and the soft brush at the hand washing sink. Gently scrub both sides of the screens and then dry with compressed air. Re-install screens on machines.
                        </td>
                        <td>Daily</td>
                    </tr>
                    <tr>
                        <td><img></td>
                        <td>Chip Bin, located on the back right corner of the machine.</td>
                        <td>Chips should be dumped into the proper bins through the doors at the back of the shop.</td>
                        <td>Daily as needed. If bin is close to half full at the beginnning of the shift, it should be emptied.</td>
                    </tr>

                </table>
                <h4>Leadwell Mill 3</h4>
                <h4>Cincinati Mill</h4>
                <h4>Doosan</h4>
                <h4>Mori Seki</h4>
                <h4>Leadwell Lathe</h4>

            </div>
        </div>
    </div>
    <app-scroll-topbtn></app-scroll-topbtn>
</div>