<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="gen-paragraphs">
            <h3 class="paraHeader">Topics</h3>
            <div class="flex-container">
                <div class="imgContainer item1">
                    <label class="imgBtnLabel" for="Compressor Fundamentals">Compressor Fundamentals</label>
                    <img class="imgBtn" src="./assets/imgs/2AN10C 151150.png" on-click="compressorFundamentals()">
                </div>
                <div class="imgContainer item2">
                    <label class="imgBtnLabel" for="Compressor Oil">Compressor Oil</label>
                    <img class="imgBtn" src="./assets/imgs/oilPour.jpg" on-click="compressorFundamentals()">
                </div>
                <div class="imgContainer item3">
                    <label class="imgBtnLabel" for="Cooper Crouse-Hinds Training">Cooper Crouse-Hinds Training</label>
                    <img class="imgBtn" src="./assets/imgs/eatonLogo.jpg" on-click="compressorFundamentals()">
                </div>
            </div>
        </div>
        <ul>
            <li><a routerLink="/engineering/compressor-fundamentals-index">Compressor Fundamentals</a></li>
            <li><a href="">Compressor Oil</a></li>
            <li><a href="">Cooper Crouse-Hinds Training</a></li>
            <li><a href="">Kunkle Safety Value</a></li>
            <li><a href="">Loctite</a></li>
            <li><a href="">Murphy Scrubber Level System</a></li>
            <li><a href="">Quincy Technical Documents</a></li>
            <li><a href="">Saturation Data for IsoPentane</a></li>
            <li><a href="">Siemens IEC Tour</a></li>
            <li><a href="">Torques in Electrical Motors</a></li>
        </ul>
    </div>
</body>