<app-navbar></app-navbar>

<body>
    <div class="eng_container_1">
        <div class="pdf_item_1">
            <h3>Advanced Recip Compressor Info</h3>
            <input type="button" class="button" routerLink="/engineering/compressor-fundamentals-index" value="Back">
        </div>
        <div></div>
    </div>
    <div class="eng_container_2">
        <div></div>

        <div class="list_engineering_main">
            <div class="pdf_engineering">
                <div class="pdf_item_2">
                    <embed src="./assets/pdfDocs/Advanced Recip Compressor Info.pdf" type="application/pdf" width="100%" height="500px" />
                </div>
                <div></div>
            </div>

        </div>
    </div>
</body>