<div class="userprofile_blank_header">
    <h1>WELCOME</h1>
</div>
<!-- <app-navbar></app-navbar> -->
<div class="userprofile">
  <div class="userprofile_buttons">
    <div class="imgContainer item1" on-click="generalMachining()">
        <label class="imgBtnLabel" for="Compressor Fundamentals">Machine Shop</label>
    </div>
    <div class="imgContainer item2" on-click="assembly()">
        <label class="imgBtnLabel" for="Compressor Fundamentals">Assembly</label>
    </div>
    <div class="imgContainer item3" on-click="engineering()">
        <label class="imgBtnLabel" for="Compressor Fundamentals">Engineering</label>
    </div>
  </div>
</div>
<!-- Footer -->