<app-navbar></app-navbar>

<h2>General Machining Information</h2>
<!--<app-button-bar-gen-mach></app-button-bar-gen-mach>
-->   <div class='mainbody-parent' id="mainbody">
        <div class="mainbody-child">
        <div>
            <ul>
                <li >Tap Drill Chart</li>
                <li>Metric Conversion</li>
                <li>GD & T</li>
                <li>Micrometers and the Vernier scale</li>
                <li>Calipers</li>
                <li>Decimal system as it relates to fractional measurement</li>
                <li>Measuring flatness</li>
                <li>Measuring Parrellel</li>
                <li>Measuring bores</li>    
                <li>Teliscoping gauges</li>   	
                <li>Pin Gauges and there use</li>
                <li>Dial and test indicators</li>		
                <li>Sweeping a bore in</li>
                <li>Dialing a vice in</li>
                <li>Bore gauge use and setup</li>
            </ul>
        </div>
    <div class="gen-paragraphs">
        <h3>Tap Drill Chart</h3>
        <embed src="./assets/pdfDocs/Drill Chart.pdf" type="application/pdf" width="100%" height="500px"/>

    </div>
    <div class="gen-paragraphs">
        <h3>Metric Conversion</h3>
        <h5>Linear Units</h5>
        <ul>
            <li>25.4 millimeters (mm) = 1 inch</li>
            <li>1 millimeter = .03937 inches</li>
            <li>1 meter = 3.281 feet</li>
            <li>1 meter = 1.094 yards</li>
            <li>1 centimeter (cm) = .03937 feet</li>
            <li>1 cm = .3937 inches</li>
            <li>1 cm = .01 meter (m)</li>
            <li>1 cm = 10 millimeters</li>
            <li>1 kilometer (km) = 3281 feet</li>
            <li>1 km = .6214 miles</li>
            <li>1 km = 1094 yards</li>
        </ul>

    </div>

    <div class="gen-paragraphs">
        <h3>Micrometers and the Vernier Scale</h3>
        <p>Many times you are required to work to exceptionally precise dimensions. 
        Under these conditions it is better to use a micrometer that is accurate to ten-thousandths of an inch. 
        This degree of accuracy is obtained by the addition of a vernier scale.</p>
        <p>The vernier scale of a micrometer (fig.   2-26) furnishes the fine readings 
        between the lines on the thimble rather than requiring you to  
        estimate the reading. The 10 spaces on the vernier are equivalent to 9 spaces on the thimble.  
        Therefore, each unit on the vernier scale is equal to 0.0009 inch, and the difference between the sizes of 
        the units on each scale is 0.0001 inch.</p>
        <img src="./assets/imgs/Vernier scale of a micrometer.JPG" alt="">
        <p>When a line on the thimble scale does not coincide with the horizontal reference line on the sleeve, 
        you can determine the additional spaces beyond the readable thimble mark by finding which vernier
        mark matches up with a line on the thimble scale. Add this number, as that many ten-thousandths of an 
        inch, to the original reading. In figure 2-27, see how the second line on the vernier scale matches up 
        with a line on the thimble scale? This means that the 0.011 mark on the thimble scale has been advanced an additional 
        0.0002 beyond the horizontal sleeve line. When you add this to the other readings,the reading is 
        0.200 + 0.075 + 0.011 + 0.0002, or 0.2862, as shown.</p>
        <img src="./assets/imgs/Reading the Vernier scale.JPG" alt=""> 
    </div>
    <div class="gen-paragraphs">
        <h3>Calipers</h3>
        <p></p>

    </div>
</div>
</div>