<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left navbar-toggler ">
  <div class="collapse navbar-collapse flex-column " id="navbarsExampleDefault">
      <ul class="navbar-nav flex-column text-white-50 fs-4 ">
          <li class="navbar-item ">
              <a class="nav-link" routerLink="/generalmachining/gm" routerLinkActive="active">Reference Info</a>
          </li> 
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/deburring" routerLinkActive="active">De Burring</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/partswashing" routerLinkActive="active">Parts Washing</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/saw" routerLinkActive="active">Saw</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/cat50leadwells" routerLinkActive="active">Leadwell Mill 1 & 2</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/cat40leadwell" routerLinkActive="active">Leadwell Mill 3</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/cinci" routerLinkActive="active">Cincinatti Mill</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/doosan" routerLinkActive="active">Doosan</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/leadwell-lathe" routerLinkActive="active">Leadwell Lathe</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/moriseiki" routerLinkActive="active">Mori Seiki</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/cylinderking" routerLinkActive="active">Cylinder King</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" routerLink="/generalmachining/rodhone" routerLinkActive="active">Rod Hone</a>
          </li>
      </ul>
  </div>
</nav>

