.container {
    top: 10%;
    left: 15%;
    width: auto;
    /* background-color: blueviolet; */
}

h2,
h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3rem;
}

.gen-paragraphs {
    margin: 2%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

.section {
    display: flex;
}

.leftside {
    padding-right: 5rem;
}

.head-space {
    padding-top: 5rem;
}