.container {
    top: 10%;
    left: 15%;
    width: auto;
    /* background-color: blueviolet; */
}

.header{
    margin-bottom: 8%;
}

h2, h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.section {
    display: flex;
}

.leftside {
    padding-right: 5rem;
}

.head-space {
    padding-top: 5rem;
}



@media screen and (max-width: 920px){
    .container{
        width: 100%;
    }
    .imgLrg{
        max-width: 700px;
        justify-content: center;
        margin: 10px;
    }
}

@media screen and (max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .section{
        flex-direction: column;
    }

    .imgLrg{
        max-width: 90%;
        height: auto;
        justify-content: center;
        margin: 5px;
    }

    .header{
        justify-content: center;
        align-items: center;
        margin-bottom: 15%;
        padding: 0;
    }

    .h3 {
        justify-content: left;
    }
}