<app-navbar></app-navbar>

<h2>Setup Sheets</h2>

<p>Setup Sheets coming soon!</p>
<!-- Setup Sheets
<div class="container"id="setupSheets"> 
    <div class="row">
    <div class="col-med-1">
    <button type="button" class="btn btn-primary">Setup Sheets</button>
    <div>
  </div>
  </div>


<input type="file" id="realButton"  />
  <button id="customButton" type="button">Select Setup Sheet File</button>
  
  <div id="fileList"><p>No Setup Sheet file Selected</p></div>
  <button type="button">Mill Setup Sheet</button>
  <button type="button">Lathe Setup Sheet</button>

  <h2>Part Description</h2>
  <p id='partDescription'></p>
  <h2>Part Number</h2>
  <p id='partNumber'></p>
  <h2>Cat ID</h2>
  <p id='catID'></p>
  <h2>Batch Number</h2>
  <p id='batch'></p>
  <h2>Quantity</h2>
  <input type="text" id="quantity"><br><br>
  <h2>Machine</h2>
  <ul>
      <li>Leadwell Mill 1</li>
      <li>Leadwell Mill 2</li>
      <li>Leadwell Mill 3</li>
      <li>Cincinatti Mill</li>
      <li>Leadwell Lathe</li>
      <li>Doosan Lathe</li>
      <li>Mori Seiki Lathe</li>
  </ul>
  <h2>Operation Number</h2>
  <p id='opNumber'></p>
  <h2>Date</h2>
  <p id='date'></p>
  <h2>Program Number</h2>
  <p id='programNumber'></p>

  <div>
      <h2>Tool List</h2>
      <table id="toolTable" border="1px">
          <thead>
              <tr>
                  <th>Tool Number</th>
                  <th>Tool Description</th>
                  <th>Tool Stick-Out</th>
                  <th>Coolant</th>
              </tr>
      </thead>
          <tbody id='ToolListTable'>
          </tbody>
      </table>
      <ul id='TOOLS'></ul>
  </div>

<div id='content'>
  <h2>Operation List</h2>
  <table id="opTable" border="1px">
      <thead>
          <tr>
              <th>N#</th>
              <th>T#</th>
              <th>Dry Run</th>
              <th>Tool Touchoff</th>
              <th>Process Description</th>
          </tr>
      </thead>
      <tbody id='OperationListTable'>                
      </tbody>
  </table>


  <ol id='OP'></ol>        
</div>-->