<app-login-header></app-login-header>

<section class="wrapper">
    <div class="content">
        <header>
            <h1>Recover Login Info</h1>
        </header>
        <section>
            <form action="" class="login-form">
                <div class="input-group-login">
                    <label for="username">Enter Email</label>
                    <input type="text" placeholder="Username or Email" id="username">
                </div>
                <div class="input-group-login" type="button" routerLink=""><button>Recover Password</button></div>
            </form>
        </section>
    </div>
</section>